@using TravelTripProject.Models.Classes
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center mt-2">Blog Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var blog in Model)
    {
        <tr>

            <td>@blog.ID</td>
            <td>@blog.Header</td>
            <td><a href="/Admin/Delete/@blog.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/Update/@blog.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Blog/Detay/@blog.ID" class="btn btn-primary">Detaylar</a></td>
        </tr>

    }
</table>
<a href="/Admin/NewBlog" class="btn btn-success">Yeni Blog</a>
